<h1>Rather Not</h1>


<% if current_user %>
  <p><%= link_to "Add a question", new_question_path, id: "new_question_link", remote: true %></p>
<% else %>
  <p>Sign up to add a question.</p>
<% end %>

<div id = "questions">
<%= render(@questions) %>
</div>
